<app-header></app-header>
<div class="container">
    <a routerLink="/">
        <- Voltar ao menu principal</a>
            <h2 id="title">Renegociar todas as dívidas</h2>
            <div>
                <p>Aqui você pode agrupar suas dívidas e negociar o valor total delas. Aproveite alguma de nossas
                    ofertas!</p>
            </div>

            <div class="actionCard">
                <div class="actionCardContent">
                    <h3>Total de dívidas</h3>
                    <h2>{{ totalAmount | currency: 'BRL' }}</h2>
                    <button class="buttonPrimary" (click)="showDetails()">Detalhes</button>
                </div>
                <div class="card">
                    <div class="cardContent">
                        <h4>Oferta #1</h4>
                        <p>Pagamento à vista</p>
                        <p>Desconto maior e você tem até 30 dias para fazer o pagamento via boleto bancário</p>
                        <button class="buttonPrimary" (click)="showPayment()">Simular Pagamento</button>
                    </div>
                </div>
                <div class="card">
                    <div class="cardContent">
                        <h4>Oferta #2</h4>
                        <p>Pagamento parcelado</p>
                        <p>Desconto exclusivo e você pode parcelar o débito em até 12x fixas</p>
                        <button class="buttonPrimary" (click)="showInstallments()">Simular parcelas</button>
                    </div>
                </div>
                <div [ngStyle]="{ 'padding': '1rem'}" *ngIf="displayInstallments">
                    <h3>Simular Parcelamento</h3>
                    <p>Total com desconto: <strong>{{ totalAmount - discountParceled |
                            currency:
                            'BRL' }}</strong></p>
                    <span>Qtd. de parcelas:</span>
                    <select class="select" [(ngModel)]="selectedOption" (ngModelChange)="selectOption($event)">
                        <option *ngFor=" let o of options" [ngValue]="o.value">{{ o.name }}</option>
                    </select>
                    <p>Valor da parcela: <strong>{{ (totalAmount - discountParceled) /
                            selectedOption
                            |
                            currency:
                            'BRL' }}</strong></p>
                    <div [ngStyle]="{'display': 'flex'}">
                        <button class="buttonAction" (click)="showOffer()">Efetivar renegociação</button>
                        <button class="buttonPrimary" (click)="closeInstallments()">Cancelar</button>
                    </div>

                </div>
            </div>
</div>

<div class="modal" *ngIf="displayDetails">
    <div class="space-between">
        <h3>Detalhes das pendências</h3>
        <button class="buttonPrimary" (click)="closeDetails()">Fechar</button>
    </div>
    <app-total-details-card></app-total-details-card>
</div>

<div class="modal" *ngIf="displayOffer">
    <div class="space-between">
        <h3>Simulação de Renegociação</h3>
        <button class="buttonPrimary" (click)="closeOffer()">Fechar</button>
    </div>
    <div>
        <h4>Valor original: {{ totalAmount | currency: 'BRL'}}</h4>
        <h4>Valor com desconto: {{ totalAmount - discountParceled| currency: 'BRL' }}</h4>
        <h4>Qtd. de parcelas: {{ selectedOption }}</h4>
        <h4>Valor da parcela: {{ (totalAmount - discountParceled) / selectedOption |
            currency: 'BRL' }}
        </h4>
        <div [ngStyle]="{ 'display': 'flex', 'align-items': 'center', 'padding': '0.5rem' }">
            <input type="checkbox" [(ngModel)]="acceptTerms" /><span [ngStyle]="{ 'margin': '0 5px' }">Aceito o acordo
                de renegociação.</span>
        </div>

        <button [attr.disabled]="acceptTerms ? null : true" class="buttonAction"
            (click)="setNegotiationParceled()">Efetivar
            renegociação</button>
    </div>
    <app-toast></app-toast>
</div>

<div class="modal" *ngIf="displayPayment">
    <div class="space-between">
        <h3>Simulação de Renegociação</h3>
        <button class="buttonPrimary" (click)="closePayment()">Fechar</button>
    </div>
    <div>
        <h4>Valor original: {{ totalAmount | currency: 'BRL'}}</h4>
        <h4>Valor com desconto: {{ totalAmount - discountInCash| currency: 'BRL' }}</h4>
        <div [ngStyle]="{ 'display': 'flex', 'align-items': 'center', 'padding': '0.5rem' }">
            <input type="checkbox" [(ngModel)]="acceptTerms" /><span [ngStyle]="{ 'margin': '0 5px' }">Aceito o acordo
                de renegociação.</span>
        </div>

        <button [attr.disabled]="acceptTerms ? null : true" class="buttonAction" (click)="setNegotiationCash()">Efetivar
            renegociação</button>
    </div>
    <app-toast></app-toast>
</div>