<app-header></app-header>
<div class="container">
    <h2>Portal de Renegociação</h2>
    <p>Projeto desenvolvido em Angular para simular a renegociação de dívidas dos clientes.</p>

    <h4>Desenvolvimento</h4>
    <p>Rodar o comando <strong>npm i</strong> para instalar as dependências do projeto, após rodar o comando <strong>ng
            serve</strong> para iniciar o
        servidor de desenvolvimento no endereço <a href="http://localhost:4200"
            target="_blank"><strong>http://localhost:4200</strong></a>.
    </p>

    <h4>JSON-Server</h4>
    <p>Para utilizar os dados de mock da API Rest deve-se instalar o json-server <strong>npm i -g json-server</strong> e
        após a instalação
        rodar o comando <strong>json-server --watch db.json</strong> que iniciará a API no endereço <a
            href="http://localhost:3000" target="_blank"><strong>http://localhost:3000</strong></a></p>

    <h4>Testes Unitários</h4>
    <p>Rodar o comando <strong>ng test</strong> para executar testes via <a href="https://karma-runner.github.io"
            target="_blank">Karma</a>.
    </p>

    <div class="diagramContainer">
        <h4>Diagrama de Arquitetura</h4>
        <img src="../../../assets/Arquitetura.jpg" alt="Diagrama de Arquitetura" />
    </div>
</div>