#toast-success {
  align-items: center;
  background-color: #208737;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  left: 50%;
  min-width: 250px;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 30px;
  transform: translate(-50%, 0);
  visibility: hidden;
  z-index: 1;

  i {
    font-size: 20px;
    margin-right: 0.5rem;
  }
}
#toast-success.show {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  visibility: visible;
}

#toast-error {
  align-items: center;
  background-color: #d92525;
  border-radius: 4px;
  color: #fff;
  display: flex;
  left: 50%;
  justify-content: center;
  min-width: 250px;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 30px;
  transform: translate(-50%, 0);
  visibility: hidden;
  z-index: 1;

  i {
    font-size: 20px;
    margin-right: 0.5rem;
  }
}
#toast-error.show {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  visibility: visible;
}

#toast-error-login {
  align-items: center;
  background-color: #d92525;
  border-radius: 4px;
  color: #fff;
  display: flex;
  left: 50%;
  justify-content: center;
  min-width: 250px;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 30px;
  transform: translate(-50%, 0);
  visibility: hidden;
  z-index: 1;

  i {
    font-size: 20px;
    margin-right: 0.5rem;
  }
}
#toast-error-login.show {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  visibility: visible;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
