.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.allDebtsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-left: 5px solid transparent;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  width: 14rem;

  &:hover {
    border-left: 5px solid #ec7000;
    border-radius: 4px;
  }
}

.cardContent {
  text-align: center;

  i {
    color: rgba(0, 55, 103, 1);
    font-size: 48px;
  }
}

.openDebt {
  color: #f00;
}

.settled {
  color: #0f0;
}

.negotiateButton {
  background: transparent;
  border: 1px solid rgba(0, 55, 103, 1);
  border-radius: 4px;
  color: rgba(0, 55, 103, 1);
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;

  &:hover {
    background: rgba(0, 55, 103, 1);
    color: #fafafa;
  }
}

.modal {
  align-items: center;
  background: #ffffff;
  bottom: 0;
  display: block;
  height: 35%;
  justify-content: center;
  left: 0;
  margin: auto;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 65%;
}

.modalContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.groupedModalContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.totalDebts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 30%;
}

.detailDebts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

@media (max-width: 768px) {
  .modal {
    height: 50%;
    width: 80%;
    overflow: auto;
  }
  .groupedModalContent {
    flex-direction: column;
    justify-content: center;
  }
  .totalDebts {
    width: 100%;
  }
}
